@import "../../../../styles/variables.scss";

.quick-filters {
  display: flex;
  align-items: center;
}

.beatmap-filter {
  border-radius: $border-radius;
}

.available-quick-filters {
  max-height: 250px;
  overflow-y: scroll;

  .available-quick-filter-container {

    .available-quick-filter {
      display: flex;
      padding: $padding-small;
      margin: $padding-smallest;
      align-items: center;
      border-radius: $border-radius;
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary-light;
      }

      .available-quick-filter-icon {
        display: flex;

        svg {
          font-size: 1.4em;
        }
      }

      .available-quick-filter-label {
        padding-left: $padding-smallest;
        font-weight: bold;
      }

      .available-quick-filter-description {
        &:before {
          content: "·";
        }
      }
    }
  }
}