@import "../../styles/Variables";

body .ReactModal__Overlay {
  .ReactModal__Content.beatmap-details-modal {
    box-shadow: $color-table-background 0 0 0 4px;
    background-color: $color-table-background;
    width: 1200px;

    .beatmap-details-container {
      width: 100%;
      background-color: $color-table-background;

      .beatmap-banner {
        width: 1200px;
        height: 236px;
        background-size: cover !important;
        background-position: center !important;
      }

      .beatmap-details-sub-container {
        background-color: $color-background;
        justify-self: stretch;
        //width: 99%;
      }

      .beatmap-details-sub-container-title {
        font-size: 1.3em;
        background-color: $color-primary;
        padding: $padding;
      }

      .beatmap-details {
        background-color: $color-table-background;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        grid-gap: 10px;
        width: 100%;

        .beatmap-mapper-container, .beatmap-nominators-container {
          .beatmap-user {
            display: flex;

            &.beatmap-user-nominator.nominated {
              .beatmap-user-picture-container {
                box-shadow: 0 0 5px 1px $status-qualified-colour;
              }
            }

            .beatmap-user-picture-container {
              box-shadow: 0 0 1px 3px $color-table-background;
              background-color: $color-background;
              border-radius: 25px;
              width: 120px;
              height: 120px;
              margin: $padding;

              .beatmap-user-picture {
                border-radius: 25px;
                width: 120px;
                height: 120px;
                background-size: cover;

                .beatmap-user-ribbon {
                  position: relative;
                  display: flex;
                  padding-top: 20px;
                  left: -10px;

                  .beatmap-user-role {
                    padding: 1px 10px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                  }
                }
              }
            }

            .beatmap-user-details {
              margin-top: $padding-small;
              margin-right: $padding-small;

              .beatmap-user-username {
                display: flex;
                align-items: center;
                height: 1.5em;

                .beatmap-button:not(:last-child) {
                  margin-right: $padding-smallest;
                }

                .beatmap-user-username-text {
                  padding-right: $padding-small;
                }

                .beatmap-nominator-edit-button {
                  .react-icons {
                    height: 100%;
                    fill: $color-text;
                    font-size: 1em;
                  }
                }
              }

              .beatmap-user-text {
                font-size: 1.3em;
                width: fit-content;
              }

              .beatmap-user-role {
                font-size: 1.1em;
                width: fit-content;
                padding: $padding-smallest;
                border-radius: 5px;
              }

              .beatmap-user-nomination-status {
                padding-top: $padding-smallest;
                width: fit-content;

                div {
                  display: flex;
                  align-items: center;

                  svg {
                    margin-right: $padding-smallest;
                  }
                }

                .beatmap-user-nominated {
                  color: $status-qualified-colour;
                  fill: $status-qualified-colour;
                }

                .beatmap-user-not-nominated {
                  color: $status-disqualified-colour;
                  fill: $status-disqualified-colour;
                }
              }
            }
          }
        }

        .beatmap-nominators-container {
          .beatmap-nominator-container {
            margin: $padding;
          }
        }

        .beatmap-metadata-container {
          .beatmap-metadata {
            margin: $padding;

            .beatmap-metadata-item {
              display: flex;
              align-items: center;

              &.beatmap-note {
                flex-wrap: wrap;
              }

              &.beatmap-status {
                .beatmap-status-label {
                  border-radius: 3px;
                  padding: 1px $padding-small;
                }
              }

              .beatmap-metadata-label {
                width: 25%;
                font-size: 1.1em;
                font-weight: 400;
              }

              .beatmap-metadata-value {
                font-size: 1em;
                font-weight: unset;
              }
            }
          }
        }
      }

      .beatmap-actions {
        margin-top: $padding-small;

        .actions-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: $padding 0;

          .actions-button-group {
            display: flex;
            align-items: center;
            padding: 0 $padding;

            &.actions-button-group-left {
              .button:not(:first-child) {
                margin: 0 $padding-smallest;
              }
            }

            &.actions-button-group-right {
              .button:not(:last-child) {
                margin: 0 $padding-smallest;
              }
            }

            .actions-title {
              margin-right: $padding;
            }

            .button {
              display: flex;
              align-items: center;

              svg {
                margin-right: $padding-smallest;
              }
            }
          }
        }
      }
    }
  }
}