@import "../../styles/Variables";

body .ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;

  .ReactModal__Content.beatmap-details-container-border {
    box-shadow: $color-table-background 0 0 0 4px;
    background-color: $color-table-background;
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .beatmap-details-container {
      width: 100%;

      .beatmap-banner {
        background-size: cover;
        background-position: center top;
        width: 1200px;
        min-height: 100px;
        height: 20vh;
      }

      .beatmap-details-sub-container {
        background-color: $color-background;
        justify-self: stretch;
        //width: 99%;
      }

      .beatmap-details-sub-container-title {
        font-size: 1.3em;
        background-color: $color-primary;
        padding: $padding;
      }

      .beatmap-details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        grid-gap: 10px;
        width: 100%;

        .beatmap-mapper-container, .beatmap-nominators-container {
          .beatmap-user {
            display: flex;

            .beatmap-user-picture-container {
              background-color: $color-background;
              border-radius: 25px;
              width: 120px;
              height: 120px;
              margin: $padding;

              .beatmap-user-picture {
                border-radius: 25px;
                width: 120px;
                height: 120px;
                background-size: cover;
              }
            }

            .beatmap-user-details {
              margin-top: $padding-small;
              margin-right: $padding-small;

              .beatmap-user-username {
                font-size: 1.3em;
                width: fit-content;
                padding-bottom: $padding-smallest;
              }

              .beatmap-user-role {
                font-size: 1.1em;
                width: fit-content;
                padding: $padding-smallest;
                border-radius: 5px;
              }

              .beatmap-user-nomination-status {
                padding-top: $padding-smallest;
                width: fit-content;

                div {
                  display: flex;
                  align-items: center;
                  svg {
                    margin-right: $padding-smallest;
                  }
                }

                .beatmap-user-nominated {
                  color: $status-qualified-colour;
                  fill: $status-qualified-colour;
                }

                .beatmap-user-not-nominated {
                  color: $status-disqualified-colour;
                  fill: $status-disqualified-colour;
                }
              }
            }
          }
        }

        .beatmap-nominators-container {
          .beatmap-nominator-container {
            margin: $padding;
          }
        }

        .beatmap-metadata-container {
          .beatmap-metadata {
            margin: $padding;

            .beatmap-metadata-item {
              .beatmap-metadata-label {
                font-size: 1.1em;
                font-weight: 400;
              }

              p {
                font-size: 1em;
                font-weight: unset;
              }
            }
          }
        }
      }

      .beatmap-actions {
        margin-top: $padding-small;

        .actions-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: $padding 0;

          .actions-button-group {
            display: flex;
            align-items: center;
            padding: 0 $padding;

            &.actions-button-group-left {
              .button:not(:first-child) {
                margin: 0 $padding-smallest;
              }
            }

            &.actions-button-group-right {
              .button:not(:last-child) {
                margin: 0 $padding-smallest;
              }
            }

            .actions-title {
              margin-right: $padding;
            }

            .button {
              display: flex;
              align-items: center;

              svg {
                margin-right: $padding-smallest;
              }
            }
          }
        }
      }
    }
  }
}