// Osu colours

$osu-colour: #cc5288;
$osu-colour-dark: darken($osu-colour, 20%);
$osu-colour-darker: darken($osu-colour, 30%);
$bn-colour: #7249A5;
$pbn-colour: #995BA5;
$nat-colour: #A53D3C;
$rc-colour: #696969;

// Beatmap status colours
$status-pending-colour: #538ea5;
$status-bubbled-colour: #2b56a5;
$status-qualified-colour: #2da554;
$status-ranked-colour: #5aa500;
$status-popped-colour: #a57d5d;
$status-disqualified-colour: #a54e4b;
$status-graved-colour: #a5a5a5;
$status-unfinished-colour: #6253a5;

// Application colours
$color-primary: #2d2d2d;
$color-primary-light: lighten($color-primary, 3%);
$color-secondary: #6d6d6d;
$color-secondary-dark: darken($color-secondary, 5%);
$color-text: #f6f6f6;
$color-text-light: #ffffff;
$color-text-dark: #0a0a0a;
$color-link: #527ad0;
$color-background: #1d1d1d;
$color-table-background: #404040;
$color-table-hover: lighten($color-table-background, 5%);
$color-table-border: lighten($color-table-background, 20%);
$color-highlight-background: #EE4266;
$color-confirmed: #2b922b;
$color-footer-background: #0A0F0D;

// Possible dark theme
/*$color-primary: darken($bn-colour, 10%);
$color-primary-light: lighten($color-primary, 5%);
$color-secondary: lighten($color-primary-light, 20%);
$color-secondary-dark: darken($color-secondary, 5%);
$color-text: #d2d2fa;
$color-link: #6e92d5;
$color-background: #2d2d2d;
$color-container-background: lighten($color-background, 20%);
$color-highlight-background: #a34c95;
$color-footer-background: #0A0F0D;*/

// Paddings
$padding-smallest: 0.25em;
$padding-small: 0.5em;
$padding: 1em;
$padding-large: 2em;
