@import "../../../styles/Variables";
$icon-size: 1.2em;

.beatmaps-header {
  flex: 0 1 auto;
  margin: $padding-small auto;
  background-color: $color-table-background;
  border-radius: 3px;
  width: 70%;

  .beatmaps-header-container {
    padding: $padding-small;
    display: flex;
    justify-content: space-between;

    .beatmaps-header-right {
      justify-content: flex-end;
      display: flex;

      .beatmap-button {
        margin-left: $padding;
      }
    }

    .beatmap-button {
      padding: $padding-small;

      gap: 0.5em;
      box-shadow: 1px 1px 3px $color-background;

      &.icon-only {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }

  .react-icons {
    fill: $color-text;
    font-size: $icon-size;
  }
}

