@import "../../../styles/Variables";

$icon-size: 1.2em;

.beatmaps-header {
  flex: 0 1 auto;
  margin: $padding-small auto;
  background-color: $color-table-background;
  border-radius: 3px;
  width: 70%;

  .beatmaps-header-container {
    padding: $padding-small;
    display: flex;
    justify-content: space-between;

    .viewmode-button {
      display: flex;
      align-items: center;
      flex-direction: column;

      .beta-label {
        background-color: $color-beta;
        border-radius: 3px;
        padding: 0 $padding-small;
      }
    }

    .add-beatmap-button {
      background-color: $color-confirmed;

      &:hover {
        background-color: $color-highlight-confirmed;
      }
    }

    .beatmaps-header-left {
      display: flex;

      .beatmap-button {
        margin-right: $padding;
      }
    }

    .beatmaps-header-right {
      justify-content: flex-end;
      display: flex;

      .add-beatmap-button {
        margin-left: $padding;
      }
    }

    .beatmap-button {
      padding: $padding-small;
      gap: 0.5em;
      box-shadow: 1px 1px 3px $color-background;

      &.quick-filter-active {
        color: $color-text-dark;
        background-color: $color-text-secondary;
        border-radius: 10px;

        svg {
          fill: $color-text-dark;
        }

        div {
          color: $color-text-dark;
        }

        &:hover {
          background-color: $color-secondary;

          svg {
            fill: $color-text;
          }

          div {
            color: $color-text;
          }
        }
      }

      &.icon-only {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }

  .react-icons {
    fill: $color-text;
    font-size: $icon-size;
  }
}

