@import "../../styles/Variables";

body .ReactModalPortal .ReactModal__Content.user-searcher-modal {
  position: absolute;
  width: 800px;
  height: 300px;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: unset;
  background-color: unset;

  .user-searcher-content {
    display: flex;
    justify-content: space-between;
    height: 0;

    .user-searcher, .user-searcher-hotbar {
      box-shadow: $color-table-background 0 0 0 4px;
      background-color: $color-table-background;
      height: fit-content;

      .user-searcher-header {
        background-color: $color-primary;
        padding: $padding-small;
      }
    }

    .user-searcher-hotbar {
      width: 20%;

      .user-searcher-spacer {
        margin: $padding-small 0;
      }

      .user-searcher-select-item {
        display: flex;
        align-items: center;
        background-color: $color-background;

        &.disabled {
          label {
            color: $color-text-disabled;
          }
        }

        &.user-searcher-select-item-not-first {
          border-top: 1px solid $color-table-border;
        }
      }
    }

    .user-searcher {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .user-searcher-textbox {
        display: flex;
        align-items: stretch;

        .user-searcher-textbox-icon {
          background-color: $color-table-background;
          border: 2px solid $color-table-border;
          border-right: unset;
          padding: $padding-small;
          display: flex;
          align-items: center;
        }

        input {
          width: 100%;
          box-sizing: border-box;
          padding: $padding-small $padding-smallest;
          background-color: $color-table-background;
          border: 2px solid $color-table-border;

          &:focus {
            outline-width: 0;
          }
        }
      }

      .user-searcher-list {
        max-height: 400px;
        overflow-y: scroll;
        padding: $padding-small;
        background-color: $color-background;

        p:not(:last-child) {
          border-bottom: 1px solid $color-table-border;
        }

        .user-searcher-user {
          display: flex;
          padding: $padding-smallest;

          &:not(:last-child) {
            border-bottom: 1px solid $color-table-border;
          }

          .user-searcher-user-picture-container {
            padding-right: $padding-small;

            .user-searcher-user-picture {
              border-radius: 10px;
              width: 48px;
              height: 48px;
              background-color: $color-table-background;
              background-size: cover;
            }
          }

          .user-searcher-user-actions {
            align-self: center;
            margin-left: auto;

            .already-nominator {
              display: flex;
              align-items: center;
              padding-left: $padding-smallest;
              color: $status-qualified-colour;

              svg {
                fill: $status-qualified-colour;
                align-items: center;
              }
            }

            .cant-nominate {
              color: $status-disqualified-colour;
            }

            svg {
              padding-right: $padding-small;
            }

            .user-select-button {
              color: $color-text;
              padding: $padding-smallest $padding-small;
              background-color: $color-primary-light;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 1px 1px 3px $color-background;
              transition: background-color 300ms;

              &.deselect {
                .already-nominator {
                  color: $status-disqualified-colour;
                }

                svg {
                  fill: $status-disqualified-colour;
                }
              }

              &:hover {
                background-color: $color-highlight-background;

                &.deselect {
                  .already-nominator {
                    color: $color-text;
                  }

                  svg {
                    fill: $color-text;
                  }
                }
              }
            }
          }

          .user-searcher-user-name {
            margin-bottom: $padding-smallest;
          }

          .user-searcher-user-roles {
            display: flex;

            .user-searcher-user-role {
              border-radius: $border-radius;
              width: fit-content;
              padding: 2px $padding-smallest;
              display: flex;
              align-items: center;
              margin-right: $padding-smallest;

              .user-searcher-user-role-icons {
                display: flex;
                align-items: center;
                margin-left: $padding-smallest;

                .user-searcher-user-role-icon {
                  margin: 0 1px;
                  width: 20px;
                  height: 20px;
                  svg {
                    fill: $color-text;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}