@import "src/styles/Variables";

header.site-header {
  flex: 0 1 auto;
  background-color: $color-background-dark;
  border-right: 2px solid $color-accent;

  nav.navbar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 0 $padding;

    .navbar-items {
      height: 88%;
      overflow-y: auto;
    }

    hr {
      color: $color-background-lighter;
      border: 1px solid $color-accent;
    }

    .navbar-section-header {
      padding: $padding-smallest $padding-small;
      background-color: $color-primary;
    }

    .navbar-logo, .navbar-section, .navbar-user, .navbar-leftover {
      background-color: $color-background-dark;
    }

    .navbar-item {
      &.navbar-item-disabled {
        background-color: $color-background-lighter;

        &:hover {
          background-color: $color-background-lighter;
        }
      }

      &.secondary {
        background-color: $color-secondary;

        &:hover {
          background-color: $color-secondary-light;
        }
      }

      svg {
        width: 25px;
        margin: 0 $padding-small;
      }

      .navbar-item-badge {
        margin: 0 $padding-small;
        padding: 2px $padding-smallest;
        border-radius: $border-radius;
        background-color: $color-accent;
      }
    }

    .navbar-section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: $padding-small 0;
    }

    .navbar-logo {
      height: 12%;

      border-bottom: 2px solid $color-accent;
    }

    .navbar-logo-clickable {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 10vh;

      .navbar-logo-wrapper {
        font-size: 1.6em;
      }

      img {
        display: flex;
        padding: $padding-smallest;
        height: 80%;
      }
    }

    .navbar-profile {
      display: flex;
      border-radius: $border-radius;
      padding: $padding-smallest;
      margin: $padding-small;
      height: 7vh;

      img {
        background-color: $color-primary;
        padding: $padding-smallest;
        box-shadow: 0 1px 3px rgba(0,0,0,.25);
        border-radius: 20px;
      }

      .navbar-profile-details {
        display: flex;
        flex-direction: column;
        padding: $padding-small;

        /*.username, .role .role-text {
          color: $color-text-light;
        }*/

        .username {
          font-size: 1.4em;
        }

        .role .role-text {
          //background-color: $rc-colour;
          border-radius: $border-radius;
          width: fit-content;
          padding: 2px $padding-smallest;
        }
      }
    }

    .navbar-active {
      .navbar-item {
        background-color: $color-accent;
      }
    }

    a {
      margin: $padding-small;
      font-size: 1.2em;

      text-decoration: none;
      color: $color-text;
      transition: background-color 300ms;

      .navbar-item {
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: $padding-small $padding-smallest ;

        &.osu-button {
          background-color: $osu-colour-dark;

          &:hover {
            background-color: $osu-colour-darker;
          }
        }

        &:hover {
          background-color: $color-accent;
        }

        .react-icons {
          height: 100%;
          fill: $color-text-light;
          font-size: 1.5em;
        }
      }
    }
  }
}




