@import "src/styles/Variables";

header.site-header {
  flex: 0 1 auto;
  background-color: $color-primary;
  height: 7vh;

  nav.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    > * {
      flex: 1;
    }

    .navbar-logo, .navbar-start, .navbar-end {
      height: 100%;
    }

    .navbar-start {
      display: flex;
      align-items: center;
    }

    .navbar-logo {
      display: flex;
      justify-content: center;

      .navbar-logo-wrapper {
        display: flex;
        align-items: center;
      }

      img {
        display: flex;
        padding: $padding-smallest;
        max-height: 80%;
      }
    }

    .navbar-profile {
      display: flex;
      background-color: $color-primary-light;
      border-radius: 5px;
      padding: $padding-smallest;
      height: 75%;

      img {
        padding: $padding-smallest;
        max-height: 100%;
      }

      .navbar-profile-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 $padding-smallest;

        /*.username, .role .role-text {
          color: $color-text-light;
        }*/

        .username {
          font-size: 1.4em;
        }

        .role .role-text {
          //background-color: $rc-colour;
          border-radius: 5px;
          width: fit-content;
          padding: 0 $padding-smallest;
        }
      }
    }

    .navbar-end {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $padding;
    }

    .navbar-active {
      .navbar-item {
        background-color: $color-primary-light;
        box-shadow: inset 0 -5px 0 $color-highlight-background;
      }
    }

    a {
      height: 100%;

      .navbar-item {
        display: flex;
        align-items: center;
        vertical-align: middle;
        height: 100%;
        padding-left: $padding-small;
        padding-right: $padding-small;
        font-size: 1.2em;

        text-decoration: none;
        color: $color-text-light;
        transition: background-color, box-shadow 300ms;

        &:hover {
          background-color: $color-primary-light;
          box-shadow: inset 0 -5px 0 $color-highlight-background;
          transition: background-color, box-shadow 300ms;
        }
      }
    }
  }
}




