@import "src/styles/Variables";

.admin-page {
  margin: $padding-small;

  .admin-page-header {
    border-radius: 3px;
    padding: $padding-small;
    background-color: $color-table-background;
  }

  .admin-page-content {
    background-color: $color-primary;
  }
}

.panel {
  border-radius: 3px;
  margin: $padding-small;

  .panel-item {
    padding: $padding-small 0;

    .textbox {
      input, select {
        width: 100%;
        padding: $padding;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
  }
}