@import "../../styles/variables.scss";

.admin-page {
  .admin-page-header {
    border-radius: $border-radius $border-radius 0 0;
    padding: $padding-small;
    background-color: $color-primary;
  }

  .admin-page-content {
  }
}

.button-group {
  button {
    margin-right: $padding-small;
  }
}

.admin-page-content {
  margin: $padding-small 0;
  .panel {
    margin-bottom: $padding;
    border-radius: 3px;
    padding: $padding;
    background-color: $color-background-light;

    hr {
      margin: $padding 0;
    }

    .panel-item {
      padding: $padding-small 0;
      display: grid;
      gap: 10px;

      .textbox {
        padding: $padding 0;
        input {
          width: 100%;
          padding: $padding;
          border: 1px solid $color-secondary;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }

      .button-group {
        display: flex;
      }

      @media only screen and (max-width: 800px) {
        .button-group {
            flex-direction: column;
            button {
                margin-right: 0;
                margin-bottom: $padding-small;
            }
        }
      }
    }
  }
}