@import "src/styles/Variables";

.admin-page {
  .admin-page-header {
    border-radius: $border-radius $border-radius 0 0;
    padding: $padding-small;
    background-color: $color-primary;
  }

  .admin-page-content {
  }
}

.button-group {
  button {
    margin-right: $padding-small;
  }
}

.admin-page-content {
  margin: $padding-small 0;
  .panel {
    margin-bottom: $padding;
    border-radius: 3px;
    padding: $padding;
    background-color: $color-background-light;

    hr {
      margin: $padding 0;
    }

    .panel-item {
      padding: $padding-small 0;
      width: 50%;
      min-width: 500px;

      .textbox {
        input, select {
          width: 100%;
          padding: $padding;
          border: 1px solid $color-secondary;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
    }
  }
}