@import 'src/styles/Variables';

$row-height: 3em;
$font-size: 0.8em;

.table-container {
  border-radius: 3px;
  background-color: $color-primary;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-small $padding;
  background-color: $color-primary;

  .table-footer-end {
    display: flex;
    align-items: center;
  }

  .table-footer-limit-selector {
    display: flex;
    align-items: center;

    select {
      margin-left: $padding-small;
    }

    select, select option {
      font-size: 1em;
      color: $color-text-dark;
      border-radius: unset;
    }
  }

  .table-footer-pagination {
    display: flex;
    margin-left: $padding;

    .table-pagination {
      display: flex;

      button {
        padding: $padding-small;
        height: 44px;
        width: 44px;
        border: 2px solid $color-primary;
      }
    }
  }
}

table {
  border-spacing: 0 2px;
  border-color: $color-secondary;
  background-color: $color-primary;
  table-layout: fixed;

  thead {
    background-color: $color-primary;
  }

  tbody {
    tr {
      background-color: $color-table-background;
      height: $row-height;

      &:hover {
        background-color: $color-table-hover;
      }
    }
  }

  th {
    padding: $padding-small;

    &.beatmap-banner-header {
      width: 15%;
    }

    &.beatmap-status-header {
      width: 7.5%;
    }

    &.beatmap-text-header {
      width: 12.5%;
    }

    &.beatmap-table-user-header {
      width: 12.5%;
    }

    &.beatmap-table-note-header {
      width: 2.5%;
    }

    &.beatmap-table-actions-header {
      width: 11%;
    }
  }

  th, td {
    text-align: center;
    max-height: $row-height;
  }
}

.beatmap-table {
  width: 100%;
}

.beatmap-table-row {
  .beatmap-text-cell {
    .beatmap-text {
      font-size: $font-size;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .beatmap-table-user {
    &.nominated .beatmap-nominator-container {
      box-shadow: 0 0 5px 1px $status-qualified-colour;
    }

    .beatmap-nominator-container {
      width: 80%;
      display: flex;
      align-items: center;
      padding: $padding-smallest;
      margin: 0 auto;
      border-radius: 25px;

      .beatmap-nominator-picture {
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 25px;
      }

      .beatmap-nominator-text {
        text-align: left;
        margin-left: $padding-smallest;
        font-size: $font-size;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: fit-content;
      }
    }
  }

  .beatmap-status {
    .beatmap-status-label {
      border-radius: 3px;
      margin: 0 $padding-small;
    }
  }

  .beatmap-banner-container {
    padding: 0;
    //min-width: 150px;
    height: $row-height;

    .beatmap-banner {
      width: 100%;
      margin: $padding-smallest;
      background-size: cover;
      background-position: center;
      height: $row-height;
    }
  }

  .beatmap-table-note {
    width: 100%;

    .beatmap-button {
      padding: $padding-smallest;
      width: fit-content;
      height: fit-content;
      margin: auto;
      font-size: 1.2em;
    }
  }

  .beatmap-table-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2em;

    .beatmap-button {
      padding: $padding-small;
      width: fit-content;
      margin: 0 $padding-smallest;
      //width: 75%;
    }
  }
}