@import '../../../styles/Variables';

$row-height: 3em;
$font-size: 0.8em;

.table-footer {
  justify-content: space-between;
  background-color: $color-background-dark;
  .table-footer-start {
    text-align: left;
    padding: $padding-small $padding;
  }

  .table-footer-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $padding-small $padding;
  }

  .table-footer-limit-selector {
    display: flex;
    align-items: center;

    select {
      margin-left: $padding-small;
    }
  }

  .table-footer-pagination {
    display: flex;
    margin-left: $padding;

    .table-pagination {
      display: flex;

      button {
        padding: $padding-small;
        height: 44px;
        width: 44px;
        border: 2px solid $color-background-light;
      }
    }
  }
}

table {
  border-spacing: 0;
  table-layout: fixed;

  thead {
    background-color: $color-primary;
  }

  tbody {
    tr {
      background-color: $color-background-lighter;

      &:nth-child(even) {
        background-color: $color-background-light;
      }
    }
  }

  th {
    padding: $padding-small;

    &.beatmap-banner-header {
      width: 15%;
    }

    &.beatmap-text-header {
      width: 12.5%;
    }

    &.beatmap-table-user-header {
      width: 12.5%;
    }

    &.beatmap-table-note-header {
      width: 5%;
    }

    &.beatmap-table-mode-header {
      width: 5%;
    }

    &.beatmap-table-actions-header {
      width: 10%;
    }
  }

  th, td {
    text-align: center;
  }
}

.beatmap-table {
  width: 100%;
  border-radius: $border-radius-large;
  overflow: hidden;
}

.beatmap-text-cell {
  .beatmap-text {
    font-size: $font-size;
    width: 95%;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.beatmap-mode-icon .beatmap-mode-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .beatmap-mode-icon-item-wrapper {
    margin: $padding-smallest 0;
    width: 40px;
    height: 40px;

    svg {
      width: 100%;
      height: 100%;
      fill: $color-text;
      margin-left: auto;
    }
  }
}

.beatmap-table-user {
  &.nominated .beatmap-nominator-container {
    box-shadow: 0 0 5px 1px $status-qualified-colour;
  }

  &.beatmap-table-user-multiple {
    padding: $padding-smallest 0;

    .beatmap-nominator-container {
      justify-content: center;
    }
  }

  .beatmap-nominator-container {
    height: $padding-large;
    //width: 80%;
    display: flex;
    align-items: center;
    padding: $padding-smallest;
    margin: 0 $padding-smallest;
    border-radius: 25px;

    .beatmap-nominator-picture {
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 25px;
    }

    .beatmap-nominator-text {
      text-align: left;
      margin-left: $padding-smallest;
      font-size: $font-size;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: fit-content;
    }

    svg {
      width: 30px;
      height: 30px;
      fill: $color-text;
      margin-left: auto;
    }
  }
}

.beatmap-status {
  display: flex;
  align-items: center;

  .beatmap-status-label {
    border-radius: 0 $border-radius $border-radius 0;
    padding: 1px $padding-small;
  }
}

.beatmap-banner-container {
  padding: $padding-small;
  height: calc(#{$row-height} - #{$padding-smallest});

  .beatmap-banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: $border-radius;
  }
}

.beatmap-table-note {
  .beatmap-button {
    padding: $padding-smallest;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 1.2em;
  }
}

.beatmap-table-actions {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;

  .beatmap-button {
    padding: $padding-small;
    width: fit-content;
    //width: 75%;
  }
}
