@import "src/styles/Variables";

$catch-logo: url("src/assets/catch.svg");

.landing-page {
  height: 100%;

  .welcome-screen {
    text-align: center;
    background-color: $color-background;

    .logo {
      padding-top: 5em;

      width: 25%;
      height: 25%;

      path.catch-logo {
        fill: $color-text;
      }
    }

    .actions {
      padding-top: $padding-large;

      .main-action, .sub-action {
        font-size: 1.5em;
        margin: .2em;
      }

      .login-message-container {
        display: flex;
        padding-top: 2em;
        justify-content: center;
      }
    }
  }
}