@import "../../styles/Variables";

.beatmap-button {
  color: $color-text;
  padding: $padding-smallest;
  background-color: $color-primary-light;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px $color-background;
  transition: background-color 300ms;

  &:hover {
    background-color: $color-highlight-background;
  }
}

.beatmap-page {
  display: flex;
  flex-flow: column;

  /* width */
  ::-webkit-scrollbar {
    width: 0;
  }

  scrollbar-width: none;

  .beatmap-filter {
    background-color: $color-primary-light;
    width: 15%;
    align-self: stretch;
    height: 100%;
    overflow-y: scroll;

    .beatmap-filter-main-title {
      padding: $padding-small;
    }

    .beatmap-filter-textbox {
      display: flex;
      flex-direction: column;
      padding: $padding-small;
      background-color: $color-primary;
      margin-top: 0.5em;

      label {
        font-size: 1.3em;
        margin-bottom: $padding-smallest;
      }

      input {
        color: $color-text-dark;
      }
    }

    .beatmap-filter-nominators {
      .beatmap-filter-title {
        padding: $padding-small;
      }

      .beatmap-filter-nominators-groups {
        .Collapsible:not(:first-child) {
          margin-top: $padding-smallest;
          margin-bottom: $padding-smallest;
        }
      }

      .beatmap-filter-user, .beatmap-filter-status {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          border-bottom: 1px solid $color-table-border;
        }
      }
    }
  }

  .beatmap-user-username {
    margin-top: 5px;
    border-radius: 5px;
    padding: 0 $padding-smallest;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .beatmap-filter-status, .beatmap-status {
    label {
      padding-left: $padding-smallest;
      padding-right: $padding-smallest;
      border-radius: 4px;
    }

    .beatmap-status-unfinished {
      background-color: $status-unfinished-colour;
    }

    .beatmap-status-pending {
      background-color: $status-pending-colour;
    }

    .beatmap-status-bubbled {
      background-color: $status-bubbled-colour;
    }

    .beatmap-status-qualified {
      background-color: $status-qualified-colour;
    }

    .beatmap-status-ranked {
      background-color: $status-ranked-colour;
    }

    .beatmap-status-popped {
      background-color: $status-popped-colour;
    }

    .beatmap-status-disqualified {
      background-color: $status-disqualified-colour;
    }

    .beatmap-status-graved {
      background-color: $status-graved-colour;
    }
  }

  .beatmap-listing-container {
    flex: 1 1 auto;
    //height: 100%;
  }
}