@import "./styles/Variables";

html {
  overflow-y:scroll;
}

* {
  margin: 0;
}

.react-icons {
  vertical-align: middle;
}

body {
  .App {
    min-height: 100vh;
    background-color: $color-background;

    .page-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .page-container-full {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

a {
  color: $color-link;
  text-decoration: none;
}

button, a.button {
  padding: $padding;
  border-radius: 5px;
  border: 2px solid $color-primary;

  &.primary {
    color: $color-text-light;
    background-color: $color-primary;
  }

  &.osu-button {
    color: $color-text-light;
    background-color: $osu-colour-dark;
    border-color: $osu-colour-darker;

    &:hover {
      background-color: darken($osu-colour-dark, 5%);
    }
  }

  &.secondary {
    color: $color-text-light;
    background-color: $color-secondary;
  }
}

.footer {
  background-color: $color-footer-background;
}