@import "./styles/Variables";

* {
  margin: 0;
}

@media only screen and (min-width: 801px) and (max-width: 1500px) {
  .table-container {
    table {
      thead th.beatmap-table-mode-header {
        display: none;
      }

      tbody {
        td.beatmap-mode-icon,
        td.beatmap-table-actions-cell .beatmap-discussion-button{
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  body .App div.container {
    flex-direction: column;

    header.site-header {
      width: unset;
      border-right: unset;
    }
    div.content-container {
      width: unset;

      .beatmap-filter-row {
        flex-direction: column;

        .beatmap-search-bar, .beatmap-filter-row-buttons, .quick-filters {
          flex-direction: column;
          align-items: stretch;
          width: 100%;

          button, .beatmap-filter-textbox {
            margin: $padding-smallest 0;
            width: 100%;
          }
        }
      }
    }
  }

  body .ReactModal__Overlay {
    z-index: 1000;

    .ReactModal__Content {
      .actions-row {
        flex-direction: column;
        padding: $padding !important;

        .actions-button-group {
          flex-direction: column;
          width: 100%;

          button {
            margin: $padding-smallest !important;
            justify-self: start;
            width: 100%;
          }
        }
      }
    }
  }

  .table-container {
    table {
      height: 75vh;

      thead {
        display: none;
      }

      tbody {
        display: flex;
        flex-direction: column;
        margin: unset;
        height: fit-content;

        tr {
          display: flex;
          flex-direction: column;
          height: 100%;

          .beatmap-banner-container {
            height: 10vh;
          }
        }
      }

      td {
        height: 100%;
      }

      .beatmap-mode-icon-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}

body {
  .App {
    height: 100vh;
    margin: 0;
    background-color: $color-background;

    .container {
      background-color: $color-background-dark;
      display: flex;
      flex-flow: column;
      height: 100vh;
      flex-direction: row;

      .content-container {
        background-color: $color-background;
        width: 100%;
        height: 100%;
        flex-direction: column;
        display: flex;
      }

      .page-container {
        padding: $padding;
        overflow-y: auto;
      }
    }
  }
}

.custom-tooltip {
  background-color: $color-background-lighter;
  padding: $padding-smallest;
  border-radius: $border-radius;

  .label {
    font-weight: bold;
  }
}

.react-icons {
  vertical-align: middle;

  &.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear;
  }

  @-webkit-keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

  @keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

a {
  color: $color-link;
  text-decoration: none;
}

button, .button, .beatmap-button {
  font-size: 1em;
  border-radius: $border-radius;

  &:disabled {
    cursor: default;
    opacity: .45;
    pointer-events: none;
  }
}

:disabled, .disabled {
  cursor: default;
  opacity: .45;
  pointer-events: none;
}

.button-submit {
  background-color: $color-confirmed;

  &:hover {
    background-color: $color-highlight-confirmed;
  }
}

.button-cancel {
  background-color: $status-disqualified-colour;

  &:hover {
    background-color: darken($status-disqualified-colour, 7%);
  }
}

.button-edit {
  background-color: $status-popped-colour;

  &:hover {
    background-color: darken($status-popped-colour, 7%);
  }
}

.button-grave {
  background-color: $status-graved-colour;
  &:hover {
    background-color: darken($status-graved-colour, 7%);
  }
}

.button-text, .button-icon {
  color: $color-text;
  fill: $color-text;
}

.message-container {
  padding: $padding-small;
}

.message {
  padding: $padding;

  &.error-message {
    background-color: #fff6f6;
    box-shadow: inset 0 0 0 1px #e0b4b4, 0 0 0 0 transparent;

    .header {
      font-weight: 700;
      line-height: 1.5;
    }

    * {
      color: $color-error;
    }
  }
}

button, .button {
  color: $color-text-light;
  cursor:pointer;
  padding: $padding;
  border: 1px solid $color-background-light;
  transition: background-color 300ms;

  &.accent {
    color: $color-text-light;
    background-color: $color-accent;

    &:hover {
      background-color: $color-accent-dark;
    }
  }

  &.primary {
    color: $color-text-light;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &.osu-button {
    color: $color-text-light;
    background-color: $osu-colour-dark;
    border-color: $osu-colour-darker;

    &:hover {
      background-color: darken($osu-colour-dark, 5%);
    }
  }

  &.secondary {
    color: $color-text-light;
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-dark;
    }
  }
}

.page-spacer {
  flex: 0 1 auto;
  padding-top: $padding-small;
  background-color: $color-background;
}

.footer {
  background-color: $color-footer-background;
}

.role-nat {
  background-color: $nat-colour;
  color: $color-text-light;
}

.role-bn {
  background-color: $bn-colour;
  color: $color-text-light;
}

.role-pbn {
  background-color: $pbn-colour;
  color: $color-text-light;
}

.role-retired {
  background-color: $retired-colour;
  color: $color-text-light;
}

.role-user {
  background-color: unset;
  color: $color-text;
}

.beatmap-status-unfinished {
  background-color: $status-unfinished-colour;
}

.beatmap-status-pending {
  background-color: $status-pending-colour;
}

.beatmap-status-bubbled {
  background-color: $status-bubbled-colour;
}

.beatmap-status-qualified {
  background-color: $status-qualified-colour;
}

.beatmap-status-ranked {
  background-color: $status-ranked-colour;
}

.beatmap-status-popped {
  background-color: $status-popped-colour;
}

.beatmap-status-disqualified {
  background-color: $status-disqualified-colour;
}

.beatmap-status-graved {
  background-color: $status-graved-colour;
}

.Collapsible {
  background-color: $color-primary;
}

//The content within the collaspable area
.Collapsible__contentInner {
  //padding: 10px;
  border: 1px solid $color-secondary-dark;
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.textbox {
  display: flex;
  padding: $padding-small;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: $padding-small;
  }

  label {
    font-size: 1em;
    margin-bottom: $padding-smallest;
  }

  input {
    color: $color-text-dark;
  }

  select {
    color: $color-text-dark;

    option {
      color: $color-text-dark;
    }
  }
}

input[type="text"] {
  padding: $padding-small $padding;
  margin: $padding-small 0;
  display: inline-block;
  border: 1px solid $color-secondary;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: $color-text-light;
  border-radius: $border-radius;
  position: relative;
  box-sizing: content-box;
  width: 1.3em;
  height: 1.3em;
  border-width: 0;
  transition: all .2s linear;
  margin: $padding-small;
}

input[type="checkbox"]:checked {
  background-color: $color-accent;
}

input[type="checkbox"]:focus {
  outline: 0 none;
  box-shadow: none;
}

.collapsible-parent-group {
  .Collapsible__trigger {
    font-size: 1.3em;
  }

  .collapsible-child-group .Collapsible__trigger {
    font-size: unset;
  }
}

.Collapsible__contentInner {
  border: none;
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  text-decoration: none;
  position: relative;
  padding: $padding-small;
  color: $color-text-light;

  &:after {
    content: '>';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 500ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

// Scroll bars
::-webkit-scrollbar-track
{
  background-color: $color-background-light;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: $color-background-light;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $color-background;
}

// Modals
body .ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;

  .ReactModal__Content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

body .ReactModal__Overlay {
  z-index: 1000;

  .ReactModal__Content {
    max-height: 100vh;
    overflow: auto;

    width: 100%;
    box-shadow: $color-table-background 0 0 0 4px;
    background-color: $color-table-background;

    .modal-container {
      width: 100%;
      background-color: $color-table-background;

      .sub-container {
        background-color: $color-background;
        justify-self: stretch;

        &.actions {
          margin-top: $padding-small;
          display: flex;
          justify-content: flex-end;
          padding: $padding;

          .button:not(:last-child) {
            margin: 0 $padding-smallest;
          }

          .button {
            display: flex;
            align-items: center;

            .react-icons {
              margin-right: $padding-smallest;
            }
          }
        }

        .sub-container-content, .sub-container-title {
          padding: $padding;
        }

        .sub-container-title {
          font-size: 1.3em;
          background-color: $color-primary;
        }
      }
    }
  }
}